{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to Recipe Search{% endblock %}</h1>

    <!-- SEARCH FORM -->
    <form method="post">
        <input type="text" name="search" required>
        <input type="submit" value="Search">
    </form>

    <!-- OUTPUT RESULTS -->
    {% if recipes | length != 0 %}
    <br>
    <p>"{{ cur_query }}" results:</p>
    <br>

    {% for i in range(recipes | length) %}
        <h3><a href="{{ url_for('show_recipe', index=indices[i]) }}">
            {{ recipes[i] }}
        </a></h3>
    {% endfor %}

    {% endif %}
{% endblock %}